
<div class="lista-productos">           
    <img width="60" height="60"  src=<%= "/images/products/" + encodeURI(producto.image) %> >
    
    <p><%= producto.name %></p> 
   
    $<%= producto.price %> 
    
    <p></p><a style="color: blue;" href="/products/detalle/<%=producto.id%>">Ir a detalle del producto</a></p>

</div>