<footer>
    <div class="footer-cont-main">
        <div class="footer-cont1">
            <p>TARJETAS DE REGALO</p>
            <p>BUSCAR TIENDA</p>
            <p>SUSCRIBIRSE</p>
            <p>SUGERENCIAS</p>
        </div>

        <div class="footer-cont2">
            <p>AYUDA</p>
            <p>Envíos y entregas</p>
            <p>Devoluciones</p>
            <p>Opciones de Pago</p>
        </div>

        <div class="footer-cont3">
            <p>NOSOTROS</p>
            <p>Novedades</p>
            <p>Trabaja con nosotros</p>
            <p>Contacto</p>
        </div>

        <div class="footer-cont-social">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>

</footer>       