<header> 
    <div class="pre-header">
        <div class="login">
            <ul>
                <% if(!auth.isLoged){ %>
                    <li><a href="/users/register">Creá tu cuenta  |</a></li>
                    <li><a href="/users/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>  
                <%}else{%>
                    <li style="margin-top: 4px; margin-right: 8px;"><a href="/users/detail/<%=auth.user.id%>"><%=auth.user.userName%></a></li>
                    <li >
                        <form action="/users/logout" method="post">
                            <button class="btn btn-sm btn-danger" type="submit">Logout</button>
                        </form>
                    </li>
                <%} %>
                          
                                                    
            </ul>
    </div>       
    <div class="header-cont">
            <div class="header-logo">
                <a href="/"><img class="logo" src="/images/alien.png" alt="logo"></a>       
                </div>
            <div class="header-navbar">
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Productos</a></li>
                        <!-- <li><a href="/products/create">Crear Producto</a></li> -->
                        <li><a href="/products/marcas">Marcas</a></li>
                    </ul>
                </div>
                <div class="copy-header"><MARQUEE SCROLLDELAY =200>6 cuotas sin interés - Envíos gratis a partir de $5000</MARQUEE></div>
                <div class="header-right-cont">
                    <div class="header-search">
                        <form method="POST" action="/products/buscar">
                            <div class="button">
                            <input type='text' placeholder="Buscar" name="query"> 
                            <button type="submit"> <i class="fas fa-search"></i></button>
                            </div> 
                         </form>                       
                    </div>
                    <div class="bolsa">
                        <a href="/products/carrito"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>  
                      
        <div class="cont-burger-menu">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div> 
    </div>
    
</header>