<header> 
    <div class="pre-header">
        <div class="login">
            <ul>
                <li><a href="../users/register">Creá tu cuenta  |</a></li>            
                <li><a href="../users/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>                                    
            </ul>
    </div>       
    <div class="header-cont">
            <div class="header-logo">
                <a href="/"><img class="logo" src="/images/alien.png" alt="logo"></a>       
                </div>
            <div class="header-navbar">
                <div class="nav">
                    <ul>
                        <li><a href="/">Hombre</a></li>
                        <li><a href="/">Mujer</a></li>
                        <li><a href="/">Niño</a></li>
                        <li><a href="/">Accesorios</a></li>
                        <li><a href="/products">productos</a></li>
                        <li><a href="/products/create">crear producto</a></li>
                    </ul>
                </div>
                <div class="header-right-cont">
                    <div class="header-search">
                        <form method="GET" action="/">
                            <div class="button">
                            <input type='text' placeholder="Buscar productos"> 
                            <button> <i class="fas fa-search"></i></button>
                            </div> 
                         </form>                       
                    </div>
                    <div class="bolsa">
                        <a href="../products/carrito"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>  
                      
        <div class="cont-burger-menu">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div> 
    </div>
</header>