<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ropa Deportiva</title>
    <link rel="stylesheet" href="css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet" />

</head>
<body>
    <header> 
        <div class="pre-header">
            <div class="login">
                <ul>
                    <li><a href="/register">Creá tu cuenta  |</a></li>            
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>                                           
                </ul>
        </div>       
        <div class="header-cont">
                <div class="header-logo">
                    <img class="logo" src="images\logo1.png" alt="logo">                
                </div>
                <div class="header-navbar">
                    <div class="nav">
                        <ul>
                            <li><a href="">Hombre</a></li>
                            <li><a href="">Mujer</a></li>
                            <li><a href="">Niño</a></li>
                            <li><a href="">Accesorios</a></li>
                        </ul>
                    </div>
                    <div class="header-right-cont">
                        <div class="header-search">
                            <form method="GET" action="/">
                                <div class="button">
                                <input type='text' placeholder="Buscar productos"> 
                                <button><i class="fas fa-search"></i></button>
                                </div> 
                             </form>                       
                        </div>
                        <div class="bolsa">
                            <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
                        </div>
                    </div>
                </div>  
                          
            <div class="cont-burger-menu">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div> 
        </div>
    </header>
<footer>
    <div class="footer-cont-main">
        <div class="footer-cont1">
            <p>TARJETAS DE REGALO</p>
            <p>BUSCAR TIENDA</p>
            <p>SUSCRIBIRSE</p>
            <p>SUGERENCIAS</p>
        </div>

        <div class="footer-cont2">
            <p>AYUDA</p>
            <p>Estado del pedido</p>
            <p>Envíos y entregas</p>
            <p>Devoluciones</p>
            <p>Opciones de Pago</p>
        </div>

        <div class="footer-cont3">
            <p>NOSOTROS</p>
            <p>Novedades</p>
            <p>Trabaja con nosotros</p>
            <p>Sustentabilidad </p>
            <p>Contacto</p>
        </div>

        <div class="footer-cont-social">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>

</footer>       
 


    </body>
</html>
