<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>
<body>
    <%- include("partials/header") %>

    <section class="hero">
        <div>
            <img class="imagenprincipal" src='images/principall.jpg'> </img>
        </div>
        
        <div class="hero-content">
            <h3 class="hero-category">
                INVIERNO
            </h3>
            <h2 class="hero-title">
                Título de producto
            </h2>
            <p class="hero-description">
                Descripción de producto / Caracteristicas de la imagen
            </p>
            <button class="hero-button">
                Contacto
            </button>

        </div>

     
    </section>
    <div class="catalogo"> 
    <section class="filter">
        <div class="categoria">
            <h2 class="filter-categoria">
                Categoria
            </h2>
            <label class="filter-checkbox">
                Moda <input  type="checkbox" value="moda" > 
            </label>
            <label class="filter-checkbox">
                Futbol <input  type="checkbox" value="futbol"> 
            </label>
            <label class="filter-checkbox">
                Basquet <input  type="checkbox" value="Basquet"> 
            </label>
            <label class="filter-checkbox">
                Natación  <input  type="checkbox" value="Natación"> 
            </label>
            <label class="filter-checkbox" >
                Basicos <input type="checkbox" value="Basicos">
            </label>
        </div>

        <div class="Marca">
            <h2 class="filter-marca">
                Marca
            </h2>
            <label class="filter-checkbox">
                Nike <input  type="checkbox" value="Nike" > 
            </label>
            <label class="filter-checkbox">
                Adidas <input  type="checkbox" value="Adidas"> 
            </label>
            <label class="filter-checkbox">
                Puma <input  type="checkbox" value="Puma"> 
            </label>
            <label class="filter-checkbox">
                Otros  <input  type="checkbox" value="Otros"> 
            </label>
             
            
    </section>
    <section class="ropa-display">
        <div class="ropafila"> 
            <div> 
                
                <img class="imagenZapatilla" src='images/ZapatillasNikeAirMax.jpg'> </img> 
                
                <h3 class="titulozapatilla"> Zapatillas Nike Air Max  </h3>
                <p class="precioZapatilla"> $15.499 </p> 
                </a>
            </div>
            <div class="ropa">
                <img class="imagenZapatilla" src='images/ZapatillasNikeZoom.jpg'> </img>
                <h3 class="titulozapatilla"> Zapatillas Nike Zoom </h3>
                <p class="precioZapatilla"> $12.749 </p>
            </div>
            <div class="ropa">
                <img class="imagenZapatilla" src='images/ZapatillasNikeDownshifter.jpg'> </img>
                <h3 class="titulozapatilla">Zapatillas Nike Downshifter</h3>
                <p class="precioZapatilla"> $9.349 </p>
            </div>
        </div>   
        <div class="ropafila"> 
            <div class="ropa"> 
                <img class="imagenZapatilla" src='images/NikeAirMax90.jpg'> </img>
                <h3 class="titulozapatilla"> Zapatillas Nike Air Max 90  </h3>
                <p class="precioZapatilla"> $19.999 </p>
            </div>
            <div class="ropa">
                <img class="imagenZapatilla" src='images/ForceShadow1.jpg'> </img>
                <h3 class="titulozapatilla"> Zapatillas Nike Air Force 1 Shadow </h3>
                <p class="precioZapatilla"> $19.499 </p>
            </div>
            <div class="ropa">
                <img class="imagenZapatilla" src='images/Force017.jpg'> </img>
                <h3 class="titulozapatilla">Zapatillas Nike Air Force 1 '07 Lx</h3>
                <p class="precioZapatilla"> $15.999 </p>
            </div>
        </div>

    </div>  
    </section>
    </div>

    <%- include("partials/footer") %>
</body>
</html>