/* detalle de producto */

/* mobile */
body{
    background-color: #ebebeb;
}

img{
    width: 50%;
    
}
.producto-juan{
    left: 20vw;
    top: 20vh;
    position: relative;
   
    height: 40vh;
    width: 30vw;
    text-align: center;
    background-color: #fff;
    
}
.descripcion-producto-juan{
    position: relative;
    left: 50vw;
    top: -20vh;
    background-color: #fff;
    height: 40vh;
    width: 30vw;
    text-align: center;   
   
}

a{
    text-decoration:none;
    color: black;
    
}


.precio-juan{
font-size: 18px;
font-weight: bold;
}
.cuotas-juan{
    padding-top: 5px;
    color: lightslategrey;
}
.nombre-juan{
    padding-top: 5px;
    background-color: #fff;
}
.precio-juan{
    padding-top: 5px;
    background-color: #fff;
}
.mas-vendido-juan{
    padding-top: 5px;
}
.devolucion-juan{
    color: green;
}
.envio-juan{
    padding-top: 10px;
    font: bold;
    font-size: 18px;
    color: green;
}
.comprar-juan{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    
    border-style: none;
    height: 35px;
    border-radius: 0px;
}
.comprar-juan:hover, .comprar-juan:focus {
    font-size: 20px;
    
  }

#eliminar{
    border:none;
    font-weight: 550;
    font-size: 18px;
    background-color: #fff;
}
#eliminar :hover{
    font-size: 20px;
}

  /* laptop*/ 

  @media (max-width:769px) {
    .nombre-juan{
        display: none;
    }
    
    .descripcion-juan{
        display: none;
    }
    .texto-bajo-foto-juan{
        display: none;
    }
    .devolucion-juan{
        font-size: 14px;
    }
    .envio-juan{
        font-size: 14px;
    }

}
