* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}



/* HEADER */

.cont-burger-menu {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 padding-right: 40px;
}

.burger-menu {
    color: white;
    text-align: center;
    font-size: 40px;
}

.pre-header {
    background-color: black;
    padding-bottom: 5px;
}

.header-cont {
 background-color: black;
 display: flex;
 height: 80px;
 width: 100%;
 padding: 10px; 
 justify-content: space-between;
}

.logo{
    width: 40%;
    display: block;
    margin-right: 10px;
    margin-left: 30px;
    padding: 0px 10px 10px 15px;
}


.header-navbar {
    display: none;
}

.nav {
    display: inline-block;  
}


.login {
    padding-right: 30px; 
    border-bottom: 1px solid white; 
    padding-bottom: 5px; 
}

 .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none; 
 } 
 
 .login ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
 }

.nav ul li {
    padding: 10px;
    color: white;
}

.login ul li {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.login ul li i{
    padding: 0 10px;
    color: white;
}

.nav a {
    color: white;
    text-decoration: none;
}

.login a {
    color: white;
    text-decoration: none;
} 

.header-right-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.header-search input {
    height: 30px;
    width: 100%;
    padding: 0 5px; 
    font-size: 12px;
    border-style: none;
    border-radius: 2px;
    position: relative;    
}

.bolsa {
    padding-right: 0 30px;
}

.bolsa i {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.button {
    position: relative;
    
}

.header-search button {
    
    top: 5px;
    right: 10px;
    background-color: white;
    border: 0;
    padding: 2px;    

}

.header-search button i {
    
    font-size: 18px;
    color:  #666;
    align-items: center;
    

}

/* FOOTER */

footer {
    margin-top: 153px;
    font-size: 14px;
}

.footer-cont-main {
    width: 100%;
    background-color: black;
    display:flex;
    color: white;
    padding: 30px;
    justify-content: space-evenly;
    flex-direction: column;
}


.footer-cont1 {
    display: none;
}

.footer-cont2 {
    width: 100%;
    display: block;
    text-align: center;

}

.footer-cont2 p{
padding-bottom: 10px;

}

.footer-cont3 {
    display: none;
}

.footer-cont-social {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white
}

.footer-cont-social i {
    padding-right: 20px;
    font-size: 20px;
}

/* carrito

.cart-titulo {
    padding: 50px 0px 10px 50px;
    font-size: 40px;
    font-weight: 700;
}

.cart-seguir-comprando {
    padding-left: 50px;
    font-size: 18px;
    
}

.cart-producto1, .cart-producto2 {
    border: 1px solid #d4d1d1;
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin: 15px;
   
}

.cart-cont-detalle-der {
    display: flex;
    padding: 15px 0px;
}

.cart-detalle-producto1, .cart-detalle-producto2 {
    position: relative;
    padding: 15px 15px 0px;
}

.cart-producto1 i{
    
    top: 25px;
    right: 25px;
    background-color: white;
    border: 0;
    padding: 2px;
    font-size: 20px;    
}

.cart-producto2 i{
    
    top: 25px;
    right: 25px;
    background-color: white;
    border: 0;
    padding: 2px;
    font-size: 20px;    
}

.cart-cant-producto1, .cart-cant-producto2 {
    padding: 0px 15px 0px 0px;
}


.cart-cant-producto1 input {
    display: flex;
    width: 65px;
    height: 35px;
    border: 1px solid black;
    border-radius: 2px;
}

.cart-cant-producto2 input {
    display: flex;
    width: 65px;
    height: 35px;
    border: 1px solid black;
    border-radius: 2px;
}

.cart-cant-field {
    display: flex;
    width: 65px;
    height: 35px;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;

}

.cart-nombre-producto {
    font-size: 20px;
    font-weight: 700;
}

.cart-talle-product {
    padding: 10px
}

.cart-precio-texto {
    font-size: 18px;
    font-weight: 700;
}

.cart-editar-prod-texto {
    font-size: 15px;
    font-weight: 700;
    padding-top: 5px;
    color: blue;
}
.cart-cont-derecha {
    padding: 25px;
    justify-content: space-evenly;
    width: 80%;
}

.cart-envio, .cart-cont-derecha, .cart-detalle-de-compra {
    padding-top: 20px;
}
.cart-cont-derecha p {
    font-weight: 700;
    font-size: 15px;
    padding-top: 5px;
}

.cart-espacio-texto {
    margin-bottom: 5px;
}

.cart-cont-derecha input{
    border-style: none;
    border: 1px solid black;
    width: 70%;
}

.cart-cont-derecha input::placeholder {
    font-size: 14px;
    padding-left: 5px;
  }

.cart-field-codigo, .cart-field-envio {
    display: flex;
    padding-top: 8px;
}

.cart-boton-chico {
    background-color: black;
    border-style: none;
    color: white;
    height: 30px;
    width: 30%;
}

.cart-display-envio {
    padding-top: 5px;
}

.cart-boton-compra {
    background-color: black;
    border-style: none;
    color: white;
    height: 35px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}

.cart-cont-pagos{
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 20px 25px 25px;
}

.cart-titulo2{
    font-size: 20px;
    font-weight: 700;
}

.cart-cont-pagos div {
    padding-top: 15px;
}

.cart-cont-pagos img {
    width: 100%;
    padding-top: 15px;
}
.cart-cont-suscribirse {
    display: none;
} */
/* list */

.titulo-list{
    text-align: center;
    padding: 15px;
}

.lista-productos{
    background-color: #fff;
    text-align: center;
    margin-top:20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
    border: 1px solid #d4d1d1;
    padding: 15px;
    margin: 15px;   
    
}

.lista-productos img {
    width: 80%;
    height: auto;
}
.lista-productos a {
    font-size: 20px;
}
.lista-productos p {
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
}

 .marcas-cont {
    display: flex;
    flex-direction: column;
}

.marcas-cont-chico {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;   
}

.marcas-cont-chico img {
    width: 75%;    
    background-color: white;
    padding: 30px;
} 

/* tablet */
@media (min-width: 481px) {

    .header-cont {
        background-color: black;
        display: flex;
        height: 115px;
       }

       .footer-cont-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    
.logo{
    width: 50%;
    display: block;
    margin-right: 10px;
    margin-left: 30px;
    padding: 0px 10px 10px 15px;
}

.burger-menu {
    display: none;
}

    .header-navbar {
        display: flex;
        width: 75%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-cont1 {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .footer-cont2 {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;
    }

    .footer-cont2 p {
        padding-bottom: 0px;        
        }
    
    .footer-cont3 {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer-cont-social {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .footer-cont-main {        
        flex-direction: row;
        justify-content: space-evenly;
    }
}
    

/* detalle de producto */

.fondo-juan{
    background-color: #ebebeb;
}
.precio-detalle{
font-size: 18px;
font-weight: bold;
}
.cuotas-detalle{
    padding-top: 5px;
    color: lightslategrey;
}
.nombre-detalle{
    padding-top: 5px;
    background-color: #fff;
}
.precio-detalle{
    padding-top: 5px;
    background-color: #fff;
}
.mas-vendido-detalle{
    padding-top: 5px;
}
.devolucion-detalle{
    color: green;
}
.envio-detalle{
    padding-top: 10px;
    font: bold;
    font-size: 18px;
    color: green;
}
.comprar-detalle{
    font-size: 18px;
    border-radius:5px;

}

  
@media (max-width:769px) {


    .nombre-detalle{
        display: none;
    }
    
    .descripcion-detalle{
        display: none;
    }
    .texto-bajo-foto-detalle{
        display: none;
    }
    .devolucion-detalle{
        font-size: 14px;
    }
    .envio-detalle{
        font-size: 14px;
    }
}

/* Login */

.registro{
    padding-top: 100px;
}
.logo-registro{
    width: 100%;
    height: 100%;
    animation: aumentar 1s linear infinite alternate;
}

@keyframes aumentar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.03);
    }
}
.registro form {
    width: 100%;
    padding-bottom: 50px;
}
.registro form input {
    height: 30px;
    width: 50%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    margin-bottom: 20px;
}
.registro form label {
    padding-bottom: 100px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.registro form button {
    font-weight: bold;
    width: 40%;
    border-radius: 5px;
    background-color: #666;
    height: 30px;
}
button.entrar:hover {
    background-color: #4762cf;
}
.botones {
    display: flex;
    margin-top: 25px;
}
.texto-notenes{
    padding-bottom: 100px;
    margin-top:10px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}


/*tablet*/
@media (min-width: 500px) {

    .pre-header {
         display: block;
    }
    .registro{
        display: flex;
    }
}

@media (min-width: 769px)  {

.marcas-cont {
    display: flex;
    flex-direction: column;
}

.marcas-cont-chico {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;   
}

.marcas-cont-chico img {
    width: 25%;    
    background-color: white;
    padding: 30px;

}
}
/*desktop*/
@media (min-width: 1280px) {

}