<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <div class="registro">
        <form class="form-container" action="/users/auth" method="POST">
            <p class="titulo-login">INICIA SESION:</p>
            <label for="email">E-mail:</label> <br>
            <input type="email" name="email" id="email" required> <br>

            <label for="password">Contraseña:</label><br>
            <input type="password" name="password" id="password" required><br>
            
            <div class="botones">
                <button class="entrar" type="submit">ENTRAR</button>
            </div>
            <p class="texto-notenes">No tenes cuenta? <a href="users/register">Crea una!</a> </p>
        </form>
    </div>
    <%- include("../partials/footer") %>     
    </body>
</html>
