<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
    <main class="contenedor-producto-juan">
        <div class="fondo-juan">
        <div class="producto-juan">
            <div class="nombre-producto-juan">NIKE</div>
            <img src="images/zapatilla.jpg" alt="">
            <div class="texto-bajo-foto-juan"><p>foto del producto</p></div>
        </div>
        <div class="descripcion-producto-juan">
            
            <div class="nombre-juan">ZAPATILLAS NIKE </div>
            <div class="precio-juan">$12.449</div>
            <div class="cuotas-juan">6 cuotas sin interes de $2.075</div>
            <div class="mas-vendido-juan"><h3>Más vendido</h3></div>
            <div class="descripcion-juan"><p>Zapatillas Nike Air Zoom Pegasus 38</p></div>
            <div class="devolucion-juan"><i class="fas fa-undo-alt">Devolución sin costo</i></div>
            <div class="envio-juan"><i class="fas fa-truck">Envio gratis en el país</i> </div>
            <br>
            <div >
            <button class="comprar-juan">COMPRAR</button>    
            </div>
           
        </div>
    </div>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>
