<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
    <div class="create-product">
        <form action="index.html" method="POST">
            <p class="cre-titulo">NUEVO PRODUCTO</p>
            <label for="nombre-producto">Nombre del producto</label> <br>
            <input type="text" name="nombre-producto" id="nombre-producto" required> <br>
            <label for="descripción">Descripción</label> <br>
            <input type="text" name="descripción" id="descripción" required> <br>
            <label for="imagen-producto">Imágenes</label> <br>
            <input type="file" name="imagen-producto" id="imagen-producto">
            <label for="categoría">Categoría</label> <br>            
            <select name="categoría" id="categoría" required>
                <option value="hombre">hombre</option>
                <option value="mujer">mujer</option>
                <option value="niño">niño</option>
            </select><br>
            <label for="color">Color</label> <br>
            <select name="color" id="color" required> 
                <option value="Negro">Negro</option>
                <option value="Blanco">Blanco</option>
                <option value="Verde">Verde</option>
                <option value="Rojo">Rojo</option>
                <option value="Azul">Azul</option>
            </select><br>
            <div class="cre-botones">
            <button class="cre-crear" type="submit">Crear</button>
            <button class="cre-borrar" type="submit">Borrar</button>
            </div>
        </form>
    </div>
    <%- include("../partials/footer") %>  
    </body>
</html>
