<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 

<section>    
    <div class="marcas-cont">
        <div class="marcas-cont-chico">
            <img src="/images/nike.png" alt="tarjetas de credito">
            <img src="/images/jordan.png" alt="tarjetas de credito">
            <img src="/images/adidas.png" alt="tarjetas de credito">
        </div>
        <div class="marcas-cont-chico">
            <img src="/images/puma.png" alt="tarjetas de credito">
            <img src="/images/under-armour.png" alt="tarjetas de credito">
            <img src="/images/reebok.png" alt="tarjetas de credito">
        </div>
    </div>     
</section>
<section>
    <div class="cart-cont-suscribirse">
        <p>Recibí novedades en tu mail</p>
        <div class="cart-nl-field">
            <input type="email" placeholder="Ingresá tu mail">
            <button>SUSCRIBIRSE</button>
        </div>
    </div>
</section>

<%- include("../partials/footer") %> 

    </body>
</html>
